@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.toggle {
    max-width: 1300px;
    padding: 0 60px;
    margin: auto;
}

/* Header */
.navbar {
    position: fixed; 
    width: 100%;
    padding: 15px 0px;
    z-index: 100;
    background: black;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease; 
}

.navbar .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
}

.navbar .nav-list li {
    list-style: none; 
    display: inline-block;
}

.navbar .nav-list li a {
    color: white;   
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
}

.navbar .nav-list li a:hover {
    color: #2874A6;
}

.nav-list-btn {
    color: white;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

/* Home */
.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("C:/Users/fatim/Pictures/Hijabi2.webp");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home .toggle {
    margin: auto 0 auto 40px;
}

.home h2 {
    font-size: 25px;
}

.home h2 span {
    font-size: 60px;
    margin-left: -3px;
}

.home h3 {
    font-size: 30px;
    margin-top: -12px;
    font-style: italic;
}

/* Nav Content Similar Styling */
section {
    padding: 50px 0px;
}

.about, .skills, .projects, .contact, .footer{
    font-family: "Open Sans", sans-serif;
}

.about .about-section, 
.skills .skills-section,
.contact .contact-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .heading, .skills .heading, .projects .heading {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

/* About */
.about, .projects {
    background:  black;
}
.about .heading, .projects .heading{
    color: white;
}

.about .about-section .left {
   width: 40%;
}

.about .about-section .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 100%;
}

.about .about-section .right {
    width: 60%;
}

.about .about-section .right .text {
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
 
.about .about-section .right p {
    text-align: justify;
    color: white;
    font-size: 20px;
}

.about .about-section .right a {
    display: inline-block;
    background: #2874A6;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px solid white;
    transition: all 0.3s ease;
    text-decoration: none;
}

.about .about-section .right a:hover {
    color: #2874A6;
    background: white;
}

/* Skills Section */
.skills .skills-section .column {
    width: calc(50% - 30px);
}

.skills .skills-section .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-section .left p {
    text-align: justify;
    font-size: 17px;
}

.skills .skills-section .left a {
    display: inline-block;
    background: #2874A6;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 14px;
    border-radius: 6px;
    border: 2px solid white;
    transition: all 0.3s ease;
    text-decoration: none;
}

.skills .skills-section .left a:hover {
    color: #2874A6;
    background: none;
}

.skills .skills-section .right .grade {
    margin-bottom: 25px;
}

.skills .skills-section .right .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .skills-section .right .span {
    font-weight: 600;
    font-size: 20px;
}

.skills .skills-section .right .line {
    height: 5px;
    width: 100%;
    background: grey;
    position: relative;
}

.skills .skills-section .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #2874A6;
}

.skills-section .right .html:before {
    width: 70%;
}

.skills-section .right .css:before {
    width: 50%;
}

.skills-section .right .js:before {
    width: 60%;
}

/* Projects Section*/
.projects .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover {
    background: #2874A6;
}

.projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.projects .carousel .card:hover .box{
    transform: scale(1.05);
}

.projects .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    margin: 10px 0px 7px 0px;
}
 
.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #2874A6;
}

.projects .carousel .card:hover img {
    border-color: white; 
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0px 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #2874A6 !important;
    transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
    background: #2874A6 !important;
}

/* Contact Section */
.contact .contact-section .column {
    width: calc(50% - 30px);
}
.contact .contact-section .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-section .left p{
    text-align: justify;
}

.contact .contact-section .left .icons {
    margin: 10px 0px;
}

.contact .contact-section .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-section .row .info {
    margin-left: 30px;
}

.contact .contact-section .row i {
   font-size: 25px;
   color: #2874A6  ; 
}

.contact .contact-section .info .head {
    font-weight: 500;
}

.contact .contact-section .info .sub-title {
    color: black;
}

.contact .contact-section .right .text {
    font-size: 30px;
    font-weight: bold;
    color: #331F25;
}
  
.contact .contact-section .right .contact-details {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 20px;
}
  
.contact .contact-section .right .contact-details .contact-links {
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    padding: 20px;
}
  
.contact .contact-section .right .contact-details .contact-links:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    background: black;
    padding: 20px 23px;
    color: white;
} 

footer span a {
    color: #2874A6;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

/* Media Query */
@media (max-width: 1300px) {
    .home .toggle {
        margin-left: 0px;
    }
}

@media (max-width: 1110px) {
    .about .about-section .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .toggle {
        padding: 0px 50px;
    }
}

@media (max-width: 950px) {
    .toggle {
        padding: 0px 40px; 
    }
    
    .nav-list-btn {
        display: block;
        z-index: 999;
    }

    .nav-list-btn i.active:before {
        content: "\f00d";
    }

    .navbar .nav-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -110%;
        top: 0;
        background: black;
        padding-top: 60px;
        transition: all 0.3s ease;
    }

    .navbar .nav-list.active {
        left: 0;
    }

    .navbar .nav-list li {
        display: block;
    }

    .navbar .nav-list li a{
        display: inline-block;
        margin: 15px 0px;
        font-size: 25px;
    }

    .home h2 span {
        font-size: 45px;
    }
    
    .home h3 {
        font-size: 24px;
    }
    
    .toggle {
        max-width: 800px;
    }

    .about .about-section .column{
        width: 100%; 
    }

    .about .about-section .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-section .right{
        flex: 100%;
    }

    .contact .contact-section .column {
        width: 100%;
        margin-bottom: 30px;
    }

}

@media (max-width: 690px) {
    .toggle {
        padding: 0px 25px;
    }

    .home h2 span {
        font-size: 45px;
    }
    
    .home h3 {
        font-size: 24px;
    }

    .skills .skills-section .column {
        width: 100%;
        margin-bottom: 30px;
    }

}

@media (max-width: 500px) {
    .home h2 span {
        font-size: 40px;
    }
    
    .home h3 {
        font-size: 20px;
    }
}